@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0; 
    padding: 0;
    text-decoration: none;
    list-style-type: none; 
} 
:root{
    --color-text: #eff6ff;
    --bg-color-primary: #60a5fa;
    --shadow-color-article: #fbbf24;
    color: black;
    font-family: 'Roboto';
} 

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.flex-row-center{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
} 

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr repeat(7, 1fr);
}

img.icon{
    width: 1.5rem;
    height: 1.5rem;

}
.dashboard{
    background-color: var(--color-text); 
    grid-column: 1/2;
    grid-row: 1/9; 
    min-width: 200px;
    display: grid; 
    grid-template-rows: 1fr 4fr 1fr;
} 
/*Dashboard start*/
.dash-page{
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.dash-about{
    grid-row:2/3;
} 

.dash.settings{
    grid-column: 3/4;
}


.ul-dash{
    width: 90%;
    height: 100%;
} 

.ul-dash li{ 
    width: 100%;
    height: 2rem;
    margin-top: 20px;

} 
.dash-settings .ul-dash{
    margin-bottom:2rem ;
}


.ul-dash li:hover{
    height: 3rem;
    background-color: #e5e7eb;
}

/*Dashboard end*/

.nav{
    background-color: var(--bg-color-primary);
    grid-column: 2/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 2fr;
    /*          x   y   blur    spread  color*/
    box-shadow: 0px 1px 1px 0px gray;
    color: white;
}

    /*Top side*/
    .nav > .top-side{
        grid-row: 1/2;
        grid-column:2/12;
        justify-content: space-between;  
    }




    /*botside*/
    .nav > .bot-side{
 
        grid-row:2/3;
        grid-column:2/12;
        justify-content: space-between; 
    
    }
    
    
    .bot-side button{
        width: 6rem;
        height: 2rem;
        border: none;
        border-radius: 10px;
        margin-right: 5px;
    }
    .bot-side .message{
        margin-left: 10px;
    }
    img.profile-pic{
        height: 3.5rem;
        width: 3.5rem;
    } 




/*nav end*/

.main{
    grid-column: 2/3; 
    grid-row:2/9;  
    gap: 10px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
   

.main .article{
    justify-content: space-between;
    color: black;
    margin-top: 20px;
    width: 80%;
    min-height: 60%;
    gap: 3px;
    border-radius: 3%;
    box-shadow: -5px 0px var(--shadow-color-article), 
                0px 3px 3px 0px #4b5563;
}

.article h2{
    margin-top: 2rem;
}


.article .post-ui{ 
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-around;
}

.aside{
    grid-column: 3/4;
    grid-row: 2/9;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}  

.aside .anouncements{
    grid-row: 2/8;   
    border-radius: 10px; 
    box-shadow: 1px 1px 1px  0px gray, 
                -1px -1px 1px  0px gray; 
    margin-bottom: 2rem;
    overflow: scroll;
    grid-column: 2/12;
    justify-content: flex-start;
} .anounce{
    margin: 5px;
    font-size: 0.9rem;
    box-shadow: 0px 1px 1px  0px gray;
}

.article .text{
    margin: 1rem;
}